/*
* Browsers: last 4 versions
*/

/* RESET */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* FONTS */

@font-face {
  font-family: poppins_f;
  src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins_f;
  src: url(./fonts/Poppins-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: poppins_f;
  src: url(./fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}

/* DEFAULTS */

:root {
  /* Colors */
  --primary-bg: #fafbff;
  --secondary: #757575;
  --secondary-table: #b5b7c0;
  --secondary-text: #838383;
  --input-bg: #f9fbff;
  --pagin-brd: #eeeeee;
  --pagin-bg: #f5f5f5;
  --pagin-text: #404b52;
  --menu-text: #9197b3;
  --menu-focus: #5932ea;
  --error-brd: #df0404;
  --error-bg: #ffc5c5;
  --accent-brd: #00b087;
  --accent-bg: #16c098;
  --accent-bg-transp: rgba(22, 192, 152, 0.38);
  --acccent-text: #008767;
  --table-text: #292d32;
  --dim: #000000;
  --default: #ffffff;

  /* Fonts */

  --default-family: poppins_f, sans-serif;

  --default-size: 14px;
  --smaller-size: 12px;

  --default-weight: 500;
  --thinner-weight: 400;
  --thicker-weight: 600;

  --default-height: 1.5;

  --default-spacing: -0.01em;
  --thicker-spacing: 0.01em;

  /* Spacing and Sizing */

  --tiny-size: 4px;
  --small-size: 8px;
  --normal-size: 12px;
  --medium-size: 14px;
  --large-size: 18px;
  --extra-large-size: 20px;
  --huge-size: 24px;
  --extra-huge-size: 24px;

  /* Shadows */

  --default-drop-shadow: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));

  /* Transitions */

  --default-transition: 300ms ease;
}

body {
  color: var(--dim);
  background-color: var(--primary-bg);

  font-family: var(--default-family);
  font-weight: var(--default-weight);
  font-size: var(--default-size);
  letter-spacing: var(--default-spacing);
  line-height: var(--default-height);
}

/* ---------- UTILITY -----------*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  -webkit-clip: rect(0 0 0 0);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.icon {
  fill: currentColor;
  stroke: currentColor;
}

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

/* ---------- HEADER -----------*/

.header {
  padding-top: 36px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 76px;

  background-color: var(--default);
  -webkit-filter: var(--default-drop-shadow);
  filter: var(--default-drop-shadow);
}

/* ---------- Logo ------------*/

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: var(--small-size);
}

.logo__name {
  font-size: 26px;
  font-weight: var(--thicker-weight);
  letter-spacing: var(--thicker-spacing);
}

.logo__name > span {
  margin-left: var(--tiny-size);
  font-size: 10px;
  font-weight: var(--default-weight);
  letter-spacing: var(--default-spacing);
  color: var(--secondary-text);
}

/* ---------- Navbar ------------*/

.nav {
  margin-top: 64px;
}

.nav__btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: var(--large-size);
}

.nav__btn {
  padding-top: 11px;
  padding-left: 11px;
  padding-right: var(--small-size);
  padding-bottom: 11px;

  width: 250px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: var(--medium-size);

  font-family: var(--default-family);
  font-weight: var(--default-weight);
  font-size: var(--default-size);
  letter-spacing: var(--default-spacing);
  line-height: var(--default-height);
  color: var(--menu-text);

  background-color: transparent;
  border: none;
  border-radius: var(--small-size);

  cursor: pointer;

  -webkit-transition: color var(--default-transition),
    background-color var(--default-transition);

  -o-transition: color var(--default-transition),
    background-color var(--default-transition);

  transition: color var(--default-transition),
    background-color var(--default-transition);
}

.nav__btn > span {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav__btn.active,
.nav__btn:hover,
.nav__btn:focus {
  color: var(--default);
  background-color: var(--menu-focus);
}

/* ---------- User ------------*/

.user {
  margin-top: 597px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: var(--normal-size);

  letter-spacing: var(--thicker-spacing);
}

.user__img-box {
  width: 42px;
  height: 42px;

  border-radius: 50%;
  overflow: hidden;
}

.user__img-box img {
  width: 100%;
  height: 100%;
}

.user__position {
  font-size: var(--smaller-size);
  font-weight: var(--thinner-weight);
  color: var(--secondary);
}

/* ---------- MAIN -----------*/

.main {
  padding-top: 41px;
  padding-left: 71px;
  padding-right: 95px;
  padding-bottom: 76px;

  width: 100%;
}

.main__title {
  font-size: 24px;
  letter-spacing: normal;
}

/* ---------- Customers -----------*/

.customers {
  margin-top: 51px;

  padding-top: 30px;
  padding-left: 38px;
  padding-right: var(--extra-huge-size);
  padding-bottom: var(--extra-huge-size);

  width: 968px;

  background-color: var(--default);
  -webkit-filter: var(--default-drop-shadow);
  filter: var(--default-drop-shadow);
}

/* ---------- Heading -----------*/

.customers__heading-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* ---------- Title -----------*/

.customers__title {
  font-size: 22px;
  font-weight: var(--thicker-weight);
}

.customers__filter-btn {
  margin-top: 7px;

  font-family: var(--default-family);
  font-weight: var(--thinner-weight);
  font-size: var(--default-size);
  letter-spacing: var(--default-spacing);
  line-height: var(--default-height);
  color: var(--accent-bg);

  border: none;
  background-color: transparent;

  cursor: pointer;

  -webkit-transition: color var(--default-transition);

  -o-transition: color var(--default-transition);

  transition: color var(--default-transition);
}

.customers__filter-btn:hover,
.customers__filter-btn:focus {
  color: var(--accent-bg-transp);
}

/* ---------- Search -----------*/

.customers__search-box {
  position: relative;
  width: 216px;
}

.customers__search {
  padding-top: 10px;
  padding-left: var(--extra-huge-size);
  padding-right: var(--small-size);
  padding-bottom: 10px;

  width: 100%;

  background-color: var(--input-bg);
  border: none;
  border-radius: 10px;
}

.customers__search::-webkit-input-placeholder {
  font-family: var(--default-family);
  font-weight: var(--thinner-weight);
  font-size: var(--smaller-size);
  letter-spacing: var(--default-spacing);
  line-height: var(--default-height);

  outline: none;
  cursor: text;
}

.customers__search::-moz-placeholder {
  font-family: var(--default-family);
  font-weight: var(--thinner-weight);
  font-size: var(--smaller-size);
  letter-spacing: var(--default-spacing);
  line-height: var(--default-height);

  outline: none;
  cursor: text;
}

.customers__search:-ms-input-placeholder {
  font-family: var(--default-family);
  font-weight: var(--thinner-weight);
  font-size: var(--smaller-size);
  letter-spacing: var(--default-spacing);
  line-height: var(--default-height);

  outline: none;
  cursor: text;
}

.customers__search::-ms-input-placeholder {
  font-family: var(--default-family);
  font-weight: var(--thinner-weight);
  font-size: var(--smaller-size);
  letter-spacing: var(--default-spacing);
  line-height: var(--default-height);

  outline: none;
  cursor: text;
}

.customers__search,
.customers__search::placeholder {
  font-family: var(--default-family);
  font-weight: var(--thinner-weight);
  font-size: var(--smaller-size);
  letter-spacing: var(--default-spacing);
  line-height: var(--default-height);

  outline: none;
  cursor: text;
}

.customers__search::-webkit-input-placeholder {
  color: var(--secondary-table);
}

.customers__search::-moz-placeholder {
  color: var(--secondary-table);
}

.customers__search:-ms-input-placeholder {
  color: var(--secondary-table);
}

.customers__search::-ms-input-placeholder {
  color: var(--secondary-table);
}

.customers__search::placeholder {
  color: var(--secondary-table);
}

.customers__search-box::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 8px;
  z-index: 20;
  width: var(--huge-size);
  height: var(--huge-size);
  background-image: url("./assets/icons/search.svg");
  background-size: cover;
}

/* ---------- Table -----------*/

.table {
  margin-top: var(--extra-huge-size);
  width: 100%;
  table-layout: auto;
}

.table th {
  padding-bottom: var(--medium-size);

  font-weight: var(--default-weight);
  text-align: start;
  color: var(--secondary-table);

  border-bottom: 1px solid var(--pagin-brd);
}

.table td {
  padding-top: var(--extra-large-size);
  padding-bottom: var(--extra-large-size);

  color: var(--table-text);
  border-bottom: 1px solid var(--pagin-brd);
}

.table__btn {
  width: 80px;
  height: 29px;

  font-family: var(--default-family);
  font-weight: var(--default-weight);
  font-size: var(--default-size);
  letter-spacing: var(--default-spacing);
  line-height: var(--default-height);
  color: var(--error-brd);

  background-color: var(--error-bg);
  border: 1px solid var(--error-brd);
  border-radius: var(--tiny-size);

  cursor: pointer;

  -webkit-transition: color var(--default-transition),
    background-color var(--default-transition);
  -o-transition: color var(--default-transition),
    background-color var(--default-transition);
  transition: color var(--default-transition),
    background-color var(--default-transition);
}

.table__btn:hover,
.table__btn:focus {
  color: var(--error-bg);
  background-color: var(--error-brd);
}

.table__btn.active {
  color: var(--acccent-text);
  background-color: var(--accent-bg-transp);
  border: 1px solid var(--accent-brd);
}

.table__btn.active:hover,
.table__btn.active:focus {
  color: var(--default);
  background-color: var(--accent-brd);
}

/* ---------- Pagination -----------*/

.pagination {
  padding-top: 30px;

  color: var(--secondary-table);

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pagination__box,
.pagination__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: var(--normal-size);
}

.pagination__btn {
  width: 26px;
  height: 24px;

  font-family: var(--default-family);
  font-weight: var(--default-weight);
  font-size: var(--smaller-size);
  letter-spacing: var(--default-spacing);
  line-height: 1;
  color: var(--pagin-text);

  background-color: var(--pagin-bg);
  border: 1px solid var(--pagin-brd);
  border-radius: var(--tiny-size);

  cursor: pointer;

  -webkit-transition: color var(--default-transition),
    background-color var(--default-transition);
  -o-transition: color var(--default-transition),
    background-color var(--default-transition);
  transition: color var(--default-transition),
    background-color var(--default-transition);
}

.pagination__pages .pagination__btn {
  width: 25px;
}

.pagination__btn.active,
.pagination__btn:hover,
.pagination__btn:focus {
  color: var(--default);
  background-color: var(--menu-focus);
}

.pagination__range {
  color: var(--dim);
}

/* ---------- MOBILE VERSION -----------*/

@media screen and (max-width: 480px) {
  /* ---------- UTILITY -----------*/

  .container {
    padding-top: var(--normal-size);
    padding-left: var(--normal-size);
    padding-right: var(--normal-size);
    padding-bottom: var(--normal-size);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* ---------- HEADER -----------*/

  .header {
    padding-top: var(--huge-size);
    padding-left: var(--huge-size);
    padding-right: var(--huge-size);
    padding-bottom: var(--huge-size);

    width: 100%;

    background-color: var(--default);
    -webkit-filter: var(--default-drop-shadow);
    filter: var(--default-drop-shadow);
  }

  /* ---------- Navbar ------------*/

  .nav {
    margin-top: var(--huge-size);
  }

  .nav__btn-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .nav__btn {
    padding-right: 11px;
    width: auto;
  }

  .nav__btn > span {
    display: none;
  }

  /* ---------- User ------------*/

  .user {
    margin-top: var(--huge-size);
  }

  /* ---------- MAIN -----------*/

  .main {
    padding-top: var(--huge-size);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: var(--huge-size);

    width: 100%;
  }

  .main__title {
    text-align: right;
  }

  /* ---------- Customers -----------*/

  .customers {
    margin-top: var(--huge-size);

    padding-top: var(--huge-size);
    padding-left: var(--huge-size);
    padding-right: var(--huge-size);
    padding-bottom: var(--huge-size);

    width: 100%;
  }

  /* ---------- Heading -----------*/

  .customers__heading-box {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--normal-size);
  }

  /* ---------- Search -----------*/

  .customers__search-box {
    width: 100%;
  }

  .customers__table-box {
    width: 100%;
    overflow-x: auto;
  }

  /* ---------- Table -----------*/

  .table {
    margin-top: var(--huge-size);
    width: 890px;
  }

  .pagination {
    padding-top: var(--huge-size);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    gap: var(--huge-size);
  }

  .pagination__box,
  .pagination__pages {
    gap: var(--small-size);
  }
}
